{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <h2>Articles</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Descriptif</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
{#   parcour de la liste d'article pour l'affichage en tableau #}
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.descriptif }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
